.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("../../photos/onlinerecipebackground.jpg");
  background-size: cover; /* Ensures the image covers the whole area */
  background-position: center; /* Centers the image */
  font-family: "Anonymous Pro", monospace;
}

.login-container {
  text-align: center;
  background-color: #ffffff;
  padding: 2rem;
  width: 100%;
  max-width: 400px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.login-container:hover {
  transform: translateY(-5px);
}

h1 {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 1rem;
}

.login-text {
  color: #555;
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.login-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  padding: 0.8rem;
  background-color: #4285f4;
  color: #ffffff;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
  font-family: "Anonymous Pro", monospace;
}

.login-button:hover {
  background-color: #357ae8;
}

.google-icon {
  background-color: black;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
}
