.search-container {
  position: fixed;
  top: 11vh;
  left: 91%;
  transform: translateX(-50%); /* Centers the container horizontally */
  display: flex;
  justify-content: center;
  width: 20rem;
  padding: 1rem 0;
  z-index: 1000;
}

.search-bar {
  padding: 0.5rem 2.5rem 0.5rem 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-icon {
  position: absolute;
  right: 50px; /* Position close to the input's right edge */
  top: 50%;
  transform: translateY(-50%); /* Center vertically */
  cursor: pointer;
  color: #333; /* Adjust color as needed */
  font-size: 1.2em; /* Adjust size as needed */
}

@media screen and (max-width: 1400px) {
  .search-container {
    left: 80%;
  }
}
